= render partial: './shared/new-header'

.pay-page-single-main
  .pay-conatainer
    %h2.pay-conatainer__head
      支払い方法
    %form.pay-conatainer__inner
      %input{type: "hidden",method: "POST"}
      .pay-conatainer__inner__content
        .pay-conatainer__inner__content__form__card-number
          %label.pay-conatainer__inner__content__form__card-number__number-label
            カード番号
          %span.pay-conatainer__inner__content__form__card-number__require
            必須
          %input{placeholder: "半角数字のみ", maxlength:"16", class: "pay-conatainer__inner__content__form__card-number__default"}
          .pay-conatainer__inner__content__form__card-number__card-logs
            = image_tag("Visa.svg.png", class: "card-img-visa")
            = image_tag("mastercard.jpg", class: "card-img-master")
            = image_tag("saison.png", class: "card-img-saison")
            = image_tag("american.png", class: "card-img-american")
            = image_tag("diners.png", class: "card-img-diners")
            = image_tag("discover.jpg", class: "card-img")
        .pay-conatainer__inner__content__form
          %label.pay-conatainer__inner__content__form__card-number__expiration-date-label
            有効期限
          %span.pay-conatainer__inner__content__form__card-number__require
            必須
          .pay-conatainer__inner__content__form__select-wrap
            .pay-conatainer__inner__content__form__select-wrap__select-month
              %select{name: "month", class: "select-default"}
                %option{value: "0"}--
                %option{value: "1"}1
                %option{value: "2"}2
                %option{value: "3"}3
                %option{value: "4"}4
                %option{value: "5"}5
                %option{value: "6"}6
                %option{value: "7"}7
                %option{value: "8"}8
                %option{value: "9"}9
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              %i.fa.fa-chevron-down
              %span.pay-conatainer__inner__content__form__select-wrap__text-month
                月
            .pay-conatainer__inner__content__form__select-wrap__select-month
              %select{name: "year", class: "select-default"}
                %option{value: "0"}--
                %option{value: "19"}19
                %option{value: "20"}20
                %option{value: "21"}21
                %option{value: "22"}22
                %option{value: "23"}23
                %option{value: "24"}24
                %option{value: "25"}25
                %option{value: "26"}26
                %option{value: "27"}27
                %option{value: "28"}28
                %option{value: "29"}29
                %option{value: "30"}30
                %option{value: "31"}31
              %i.fa.fa-chevron-down
              %span.pay-conatainer__inner__content__form__select-wrap__text-month
                年
            .pay-conatainer__inner__content__form__select-wrap__year
              
        .pay-conatainer__inner__content__form
          %label.pay-conatainer__inner__content__form__card-number__securty-label
            セキュリティコード
          %span.pay-conatainer__inner__content__form__card-number__require
            必須
          %input{placeholder: "カード背面4桁もしくは3桁の番号", maxlength:"4", class: "pay-conatainer__inner__content__form__card-number__default"}
      .pay-conatainer__inner__content
        %input{type: "hidden", method: "POST"}
        %button{type: "submit", class:"nextbtn-red"}
          次へ進む
          
= render partial: './shared/new-footer'