= render partial: './shared/new-header'

.login-main
  .login-main__container
    %h2.login-main__container__head
      アカウントをお持ちでない方はこちら
      .login-main__inner__content
        = link_to  class:"new-main--link" do
          %p.login-main__inner__content__mail
            新規会員登録

  .login-main__inner
    .login-main__inner__content__facebook
      = link_to  class:"new-main--link" do
        %p.login-main__inner__content__facebook__icon
          =fa_icon 'facebook-official'
          Facebookでログイン
    .login-main__inner__content__google
      = link_to  class:"new-main--link" do
        %p.login-main__inner__content__google__icon
          = image_tag "google-icon.jpeg", class:"image", alt:"merucari",  size: "20x20" 
          Googleでログイン

  %form
    .login-form-inner
      .login-form-inner__form-group
        %input.login-form-inner__form-group__input{placeholder: "メールアドレス"}
      .login-form-inner__form-group
        %input.login-form-inner__form-group__input{placeholder: "パスワード"}
      .login-form-inner__form-group
        .g-recaptcha.signup-recaptcha{ data: { sitekey: "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}}
          %div
            %iframe{frameborder: "0", height: "78", name: "a-38r8qy4bksn8", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1558333958099&size=normal&cb=do3zentao7q1", width: "304"}
          %textarea#g-recaptcha-response.g-recaptcha-response{name: "g-recaptcha-response", style: "width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"}
      %buttom.login-form-inner__btn ログイン
      = link_to 'パスワードをお忘れの方'
= render partial: './shared/new-footer'