.sidebar
  %nav.sidebar__nav
    %ul.sidbar__nav__list
      %li
        = link_to users_mypage_path,class: "sidebar__nav__list__ichi"  do
          マイページ
          = fa_icon 'angle-right', class: 'icon'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          お知らせ
          = fa_icon 'angle-right', class: 'icon'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          やることリスト
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          いいね！一覧
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to new_item_path,class: "sidebar__nav__list__ichi"  do
          出品する
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to users_mypage_syuppin_path,class: "sidebar__nav__list__ichi"  do
          出品した商品-出品中
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          出品した商品-取引中
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          出品した商品-売却済み
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          購入した商品-取引中
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          購入した商品-過去の取り引き
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          ニュース一覧
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          評価一覧
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          ガイド
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          お問い合わせ
          = fa_icon 'angle-right', class: 'migiya'
    %h3.sidebar__nav__head
      メルペイ
    %ul.sidbar__nav__list
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          売上・振込申請
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          ポイント
          = fa_icon 'angle-right', class: 'migiya'
    %h3.sidebar__nav__head
      設定
    %ul.sidbar__nav__list
      %li
        = link_to  mypage_pofile_user_path(current_user) ,class: "sidebar__nav__list__ichi"  do
          プロフィール
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          発送元・お届け先住所変更
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to users_mypage_credit_path,class: "sidebar__nav__list__ichi"  do
          支払い方法
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to  edit_user_registration_path,class: "sidebar__nav__list__ichi"  do
          メール/パスワード
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to mypage_identification_user_path(current_user) ,class: "sidebar__nav__list__ichi"  do
          本人情報
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to root_path,class: "sidebar__nav__list__ichi"  do
          出和番号の確認
          = fa_icon 'angle-right', class: 'migiya'
      %li
        = link_to  users_mypage_destroy_path,class: "sidebar__nav__list__ichi"  do
          ログアウト
          = fa_icon 'angle-right', class: 'migiya'