.check-footer
  .check-footer__nav
    %li  
      = link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
    %li
      = link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
    %li
      = link_to '特定商取引に関する表記', 'https://www.mercari.com/jp/tokutei/'
  = link_to  do
    = image_tag "merucari_icon2.svg", class:"image", alt:"merucari",  size: "80x65"
  %p  © 2019 Mercari