%body
  .default-container
    %header.top-page-pc-header
      .top-page-pc-header__inner
        .top-page-pc-header__inner__top
          %h1.top-page-pc-header__inner__top__logo
            = link_to image_tag('top-header-logo.svg', class: "header-logo" ), root_path
          .header-search-form
            %input{class: "header-search-form__input", placeholder: "何かお探しですか？"}
              = link_to root_path, class:"header-search-button"  do
                .header-button-wrapper
                  = fa_icon 'search 2x', class: "search"
        .top-page-header-icon-lists
          .top-icon-list-left
            %ul.header-category-wrapper
              %li.header-icons
                %h2
                  = link_to root_path class:"pc-header-nav-rootlist-parent" do
                    = fa_icon("list-ul", class: "header-left-icon-logo")
                    %span.header-bold カテゴリーから探す
              %li.header-icons
                %h2
                  = link_to root_path class:"pc-header-nav-root list-parent" do
                    = fa_icon("tag", class: "header-left-icon-logo")
                    %span.header-bold ブランドから探す
          .top-page-list-right
            %ul.header-user-nav
              %li.header-info
                = link_to root_path class: "header-info-link" do
                  = fa_icon("bell-o ")
                  %span.header-user-nav-text お知らせ
              %li.header-to-do
                = link_to root_path class: "to_do-link" do
                  = fa_icon("check")
                  %span.header-user-nav-text やることリスト
              %li.header-mypage
                = link_to root_path class: "header-my-page-link" do
                  = image_tag "mypage-image.png", class: "header-mypage-icon-image"
                  %span.header-user-nav-text-mypage マイページ
%nav.karinav
  %ul
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
        %span.navmerkari{:itemprop => "title"} メルカリ  ＞
      %i.icon-arrow-right
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %span.navsyousai{:itemprop => "title"} 新品 タグ付き babyGAP ベビーギャップ 襟付き 長袖 カットソー 80
.owaku
  .haku
  %section.item
    %h1.item__name
      新品 タグ付き babyGAP ベビーギャップ 襟付き 長袖 カットソー 80
    .item__main
      .item__main__fotos
        .item__main__fotos__ue
          %ul.slider
            %li= image_tag "mersample.jpg", :size =>'300x300'
            %li= image_tag "mersample.jpg", :size =>'300x300'
            %li= image_tag "mersample.jpg", :size =>'300x300'
            %li= image_tag "mersample.jpg", :size =>'300x300'
            %li= image_tag "mersample.jpg", :size =>'300x300'
        .item__main__fotos__shita
          %ul.thumb
            %li= image_tag "mersample.jpg", :size =>'60x60'
            %li= image_tag "mersample.jpg", :size =>'60x60'
            %li= image_tag "mersample.jpg", :size =>'60x60'
            %li= image_tag "mersample.jpg", :size =>'60x60'
            %li= image_tag "mersample.jpg", :size =>'60x60'
      %table.item__main__detail
        %tr
          %th 出品者
          %td
            %a{:href => "https://www.mercari.com/jp/u/414242538/"} S☆ぬいぐるみまとめ買い割引中‼️
            .item__main__detail__ratings
              .item__main__detail__ratings__user
                %i.fa.fa-smile-o.fa-lg{:style => "color:red;"}
                %span 2249
              .item__main__detail__ratings__user
                %i.fa.fa-meh-o.fa-lg{:style => "color:orange;"}
                %span 7
              .item__main__detail__ratings__user
                %i.fa.fa-frown-o.fa-lg{:style => "color:blue;"}
                %span 0
        %tr
          %th カテゴリー
          %td
            %a{:href => "https://www.mercari.com/jp/category/3/"}
              %div ベビー・キッズ
            %a{:href => "https://www.mercari.com/jp/category/44/"}
              .item-detail-table-sub-category
                %i.icon-arrow-right
                ベビー服(女の子用)  ~95cm
            %a{:href => "https://www.mercari.com/jp/category/431/"}
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                トップス
        %tr
          %th ブランド
          %td
            %a{:href => "https://www.mercari.com/jp/brand/2330/"}
              %div
                ベビーギャップ
        %tr
          %th 商品のサイズ
          %td 80cm
        %tr
          %th 商品の状態
          %td 新品、未使用
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td 未定
        %tr
          %th 配送元地域
          %td
            %a{:href => "https://www.mercari.com/jp/area/33/"} 岡山県
        %tr
          %th 発送日の目安
          %td 2~3日で発送
    .item__pricebox
      %span.item__pricebox__price ¥ 2,290
      %span.item__pricebox__tax (税込)
      %span.item__pricebox__shipping 送料込み
    .item__btn
      %a.btn-square-pop{:href => "mypages#index"} 購入画面に進む
    .item__description
      %p.item__description__inner
        説明欄・プロフィールを必ずお読みくださいますようにお願い致します(*&gt;ω&lt;*)
        %br/
        %br/
        新品 タグ付き babyGAP ベビーギャップ 襟付き 長袖 カットソー 80 12〜18Mです。
        %br/
        %br/
        \#Sギャップ80サイズ出品一覧
        %br/
        %br/
        神経質な方は入札をご遠慮下さい。
        %br/
        %br/
        見落としなどあるかもしれませんが、ご了承いただける方のみお願いいたします。
        %br/
        %br/
        \#カバーオール #ギャップ #gap #長袖カットソー #襟付き#カットソー #トップス #長袖 #ロンT #キッズ #女の子
        %br/
    .item__buttons
      .item__buttons__left
        %button.item__buttons__left__nice{:type => "button"}
          %i.fa.fa-heart-o.fa-lg
          %span  いいね! 
          %span.fade-in-down{"data-num" => "like"} 0
        %button.item__buttons__left__flag{:type => "button"}
          %i.fa.fa-flag-o.fa-lg
          %span  不適切な商品の報告 
      .item__buttons__right
        %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
          %i.fa.fa-lock
          %span あんしん・あんぜんへの取り組み
  .item2
    .item2__message
      .item2__message__box
        %form.item2__message__box__form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
          %p.item2__message__box__form__caution
            相手のことを考え丁寧なコメントを心がけましょう。
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.item2__message__box__form__main{:name => "body", :style => "color:gray;", :type => "text", :value => ""}
          %button.item2__message__box__form__btn{:type => "submit"}
            %span コメントする
  %ul.navitem
    %li.navitem__pre
      %a{:href => "https://item.mercari.com/jp/m81704841881/"}
        %i.icon-arrow-left
        ＜ 金麦 あいあい皿2019 シール120点
    %li.navitem__next
      %a{:href => "https://item.mercari.com/jp/m15749712779/"}
        【新品】マイメロディ＆ピアノちゃん クッキー型2個セット ＞
        %i.icon-arrow-right
  .snsbox
    %ul.snsbox__contents
      %li.snsbox__contents__icons
        %a.snsbox__contents__icons__icon{"data-window-name" => "facebook_window", :href => "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm28099348410%2F", :target => "_blank"}
          %i.fa.fa-facebook-square.fa-4x{:style => "color:#3B5998"}
      %li.snsbox__contents__icons
        %a.snsbox__contents__icons__icon{"data-window-name" => "twitter_window", :href => "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm28099348410%2F&text=%E6%96%B0%E5%93%81%20%E3%82%BF%E3%82%B0%E4%BB%98%E3%81%8D%20babyG%E2%80%A6%20%28%C2%A5%202%2C290%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm28099348410%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", :target => "_blank"}
          %i.fa.fa-twitter-square.fa-4x
      %li.snsbox__contents__icons
        %a.snsbox__contents__icons__icon{"data-window-name" => "pinterest_window", :href => "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm28099348410%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm28099348410_1.jpg%3F1558742410&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%E6%96%B0%E5%93%81%20%E3%82%BF%E3%82%B0%E4%BB%98%E3%81%8D%20babyGAP%20%E3%83%99%E3%83%93%E3%83%BC%E3%82%AE%E3%83%A3%E3%83%83%E3%83%97%20%E8%A5%9F%E4%BB%98%E3%81%8D%20%E9%95%B7%E8%A2%96%20%E3%82%AB%E3%83%83%E3%83%88%E3%82%BD%E3%83%BC%2080%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", :target => "_blank"}
          %i.fa.fa-pinterest-square.fa-4x{:style => "color:#CC3333"}
  .bottomitems
    %section.bottomitems__users
      %h2.bottomitems__users__title
        %a{:href => "https://www.mercari.com/jp/u/414242538/"}
          S☆ぬいぐるみまとめ買い割引中‼️さんのその他の出品
      .bottomitems__users__contents
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
    %section.bottomitems__sonota
      %h2.bottomitems__sonota__title
        %a{:href => "https://www.mercari.com/jp/u/414242538/"}
          ベビーギャップのトップス　その他の商品
      .bottomitems__sonota__contents
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           ♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
  .app-banner
    = image_tag "banar-image.png", class: "app-banar-img"
.content-footer
  %footer.footer-top-page
  .footer-box
    .footer-cell
      %h2.footer-cell__head メルカリについて
      %ul
        %li.footer-cell__footer-top-text-normal 会社概要 (運営会社)
        %li.footer-cell__normal 採用情報
        %li.footer-cell__normal プレリリース
        %li.footer-cell__normal 公式ブログ
        %li.footer-cell__normal メルカリロゴ利用ガイドライン
        %li.footer-cell__sns-link
          = fa_icon 'twitter', class: "twitter-logo"
        %li.footer-cell__sns-link
          = fa_icon 'facebook-square', class: "twitter-logo"
    .footer-cell
      %h2.footer-cell__head ヘルプ＆ガイド
      %ul
        %li.footer-cell__footer-top-text-normal メルカリガイド
        %li.footer-cell__normal 楽々メルカリ便
        %li.footer-cell__normal ゆうゆうメルカリ便
        %li.footer-cell__normal 大型メルカリ便
        %li.footer-cell__normal 車体取引ガイド
        %li.footer-cell__normal メルカリあんしん・あんぜん宣言
        %li.footer-cell__normal 偽ブランド品撲滅への取り組み
        %li.footer-cell__normal メルカリボックス
    .footer-cell-full-width
      %h2.footer-cell-full-width__head プライバシーと利用規約
      .footer-cell-full-width__cell-wrapper
        .footer-cell-full-width__cell-wrapper__cell-left
          %ul
            %li.footer-cell-full-width__cell-wrapper__cell-left__top-text-normal プライバシーポリシー
            %li.footer-cell-full-width__cell-wrapper__cell-left__normal メルカリ利用規約
            %li.footer-cell-full-width__cell-wrapper__cell-left__normal あんしんスマホサポート制度に関する利用規約
            %li.footer-cell-full-width__cell-wrapper__cell-left__normal コンプライアンスポリシー
        .footer-cell-full-width__cell-wrapper__cell-right
          %ul
            %li.footer-cell-full-width__cell-wrapper__cell-right__top-text-normal 個人データの安全管理に係る基本方針
            %li.footer-cell-full-width__cell-wrapper__cell-right__normal 特定商取引に関する表記
            %li.footer-cell-full-width__cell-wrapper__cell-right__normal 資金決済法に基づく表示
            %li.footer-cell-full-width__cell-wrapper__cell-right__normal 法令遵守と犯罪抑止のために
            %li.footer-cell-full-width__cell-wrapper__cell-right__normal 返品・返金ポリシー
    .fotter-cell-lang
      %h2.footer-cell__head 国
      %ul
        %li.footer-head-jp 日本
        %li.footer-head-us United Status
    
    
    
    .footer-bottom
      = link_to root_path class:"footer-logo-link" do
        - image_tag "logo-white.svg", class: "footer-logo-link-image"
      %span.footer-copyrifght © 2019 Mercari
  = link_to root_path, class: "footer-sell-btn" do
    .footer-sell-btn__text 出品
    = fa_icon "camera", class: "camera-icon"

