= render partial: "shared/topheader"
= render partial: "shared/pankuzukari"

.ohako
  = render partial: "shared/mypageside"
  .mycontent
    .mycontent__user
      .mycontent__user__header
        .mycontent__user__header__icon
          = link_to root_path  do
            .mycontent__user__header__icon__av
              = image_tag "user_noimage.png", :size =>'60x60'
            %p.mycontent__user__header__icon__name
              大橋
            .mycontent__user__header__icon__num
              .mycontent__user__header__icon__num__rate
                評価&emsp;&emsp;
                %span
                  0
              .mycontent__user__header__icon__num__suu
                出品数&emsp;&emsp;
                %span
                  0
      .mycontent__user__tab
        %input#all{:checked => "checked", :name => "tab_item", :type => "radio"}/
        %label.tab_item{:for => "all"} お知らせ
        %input#programming{:name => "tab_item", :type => "radio"}/
        %label.tab_item{:for => "programming"} やることリスト
        #all_content.tab_content
          .tab_content_description
            %p.c-txtsp 現在、お知らせはありません
        #programming_content.tab_content
          .tab_content_description
            %p.c-txtsp 現在、やることリストはありません
      .mycontent__user__kounyuu
        購入した商品
      .mycontent__user__tab2
        %input#al{:checked => "checked", :name => "tab_torihiki", :type => "radio"}/
        %label.tab_torihiki{:for => "al"} 取引中
        %input#pro{:name => "tab_torihiki", :type => "radio"}/
        %label.tab_torihiki{:for => "pro"} 過去の取引
        #al_cont.tab_cont
          .tab_cont_description
            %p.c-txtsp 取引中の商品がありません
        #pro_cont.tab_cont
          .tab_cont_description
            %p.c-txtsp 過去に取引した商品はありません
      
= render partial: "shared/topfooter"
