= render partial: './shared/new-header'
- if @item.errors.any?
  .errorsbox
    %h2.error-message= "#{@item.errors.full_messages.count}件のエラーが発生しました。"
.main
  .sell-container#sell-container
    %h2.sell-container__item-info  商品の情報を入力
    = form_with model: @item, local: true, class: "sell-form" do |f|
      =f.hidden_field :status, value: "1"
      .sell-form__upload
        %h3.sell-form__upload--head
          出品画像
          %span.require-input  必須
        %p.sell-form__upload--p  最大10枚までアップロードできます
        .sell-form__upload__dropbox-container
          .items-container
            .items-container__items
              %ul#preview-img-list.items-container__items__list
                %li#preview-img-container-1.items-container__items__list__item
                  %figure#preview-img-figure-1.items-container__items__list__item__figure
                  -# .items-container__items__list__item__button
                  -#   .items-container__items__list__item__button--edit  編集
                  -#   .items-container__items__list__item__button--delete  削除
                -# %li.items-container__items__list__item
                -#   %figure.items-container__items__list__item__figure
                -#     = image_tag "http://flat-icon-design.com/f/f_object_174/s256_f_object_174_0bg.png", class: "items-container__items__list__item__figure--image"
                -#   .items-container__items__list__item__button
                -#     .items-container__items__list__item__button--edit  編集
                -#     .items-container__items__list__item__button--delete  削除
            .items-container__drop-box
              %label.items-container__drop-box__click
                ドラッグアンドドロップまたはクリックしてファイルをアップロード
                = f.file_field :image, class: 'items-container__drop-box__click__file-field'
              %pre.items-container__drop-box__visible-pc
                .items-container__drop-box__visible-pc--p
      .sell-form__content.sell-content
        .sell-form__content2
          .sell-form__content__group
            %label.sell-form__content__group--label
              商品名
              %span.require-input  必須
            .sell-form__content__group__div
              = f.text_field :name, class: "sell-form__content__group__div__input input-default", placeholder: "商品名（必須 40文字まで)"
          .sell-form__content__group
            %label.sell-form__content__group--label
              商品の説明
              %span.require-input  必須
            = f.text_area :discription, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
      .sell-form__content.sell-content
        %h3.sell-form__content--head  商品の詳細
        .sell-form__content__sell-form-box
          .sell-form-box__group
            %label.sell-form-box__group--label
              カテゴリー
              %span.require-input  必須
            .sell-form-box__group__div
              .sell-form-box__group__div__select-wrap-a
                = f.select :category, [["---", ""], ["レディース", "1"], ["メンズ", "2"], ["ベビー・キッズ", "3"], ["コスメ・香水・美容", "4"]], {}, {class: "select-default", id: "select-category-a"}
                %i.icon-arrow-bottom
                  = fa_icon 'chevron-down', class: 'icon'
              .sell-form-box__group__div__select-wrap-b
                %select#select-category-b.select-default
                  %option{value: ""} ---
                  %option{value: "20"} トップス
                  %option{value: "21"} ジャッケット／アウター
                  %option{value: "23"} パンツ
                -# = f.select :category2, [["---", ""], ["トップス", "30"]], {}, {class: "select-default"}
                %i.icon-arrow-bottom
                  = fa_icon 'chevron-down', class: 'icon'
              .sell-form-box__group__div__select-wrap-c
                %select#select-category-c.select-default
                  %option{value: ""} ---
                  %option{value: "100"} Tシャツ/カットソー(半袖/袖なし)
                  %option{value: "101"} Tシャツ/カットソー(七分/半袖)
                  %option{value: "102"} シャツ
                -# = f.select :category, [["---", ""], ["Tシャツ/カットソー(半袖/袖なし)", "302"]], {}, {class: "select-default"}
                %i.icon-arrow-bottom
                  = fa_icon 'chevron-down', class: 'icon'
          #select-size-wrap.sell-form-box__group
            %label.sell-form-box__group--label
              サイズ
              %span.require-input  必須
            .sell-form-box__group__select-wrap
              = f.select :size, [["---", ""], ["XS"], ["S"], ["M"], ["L"], ["XL"]], {}, {id: "select-size", class: "select-default"}
              %i.icon-arrow-bottom
                = fa_icon 'chevron-down', class: "list-pulldown-icon"
          #brand-suggest-wrap.sell-form-box__suggest-container
            %label.sell-form-box__suggest-container--label
              ブランド
              %span.arbitrary-input  任意
            .sell-form-box__suggest-container__div
              =f.text_field :brand, autocomplete: "on", list: "brand-list", id: "brand-input", class: "sell-form-box__suggest-container__div__input input-default", placeholder: "例）シャネル", value: ""
              %datalist#brand-list
                %option{value: "シャネル"}
                %option{value: "イッセイ ミヤケ"}
                %option{value: "ウィルソン"}
                %option{value: "エンポリオ アルマーニ"}
                %option{value: "オニツカ タイガー"}
          .sell-form-box__group
            %label.sell-form-box__group--label
              商品の状態
              %span.require-input  必須
            .sell-form-box__group__select-wrap
              = f.select :condition, [["---", ""], ["新品、未使用"], ["未使用に近い"], ["目立った傷や汚れなし"], ["やや傷や汚れあり"], ["傷や汚れあり"], ["全体的に状態が悪い"]], {}, {class: "select-default"}
              %i.icon-arrow-bottom
                = fa_icon 'chevron-down', class: 'icon'
      .sell-form__content.sell-content
        %h3.sell-form__content--head
          配送について
          .sell-form__content--question  ？
        .sell-form__content__sell-form-box
          .sell-form-box__group
            %label.sell-form-box__group--label
              配送料の負担
              %span.require-input  必須
            .sell-form-box__group__select-wrap
              = f.select :delivery_fee, [["---", ""], ["着払い（購入者負担）"], ["送料込み（出品者負担）"]], {}, {class: "select-default"}
              %i.icon-arrow-bottom
                = fa_icon 'chevron-down', class: 'icon'
          .sell-form-box__group
            %label.sell-form-box__group--label
              配送の方法
              %span.require-input  必須
            .sell-form-box__group__select-wrap
              = f.select :delivery_method, [["---", ""], ["未定"], ["らくらくメルカリ便"]], {}, {class: "select-default"}
              %i.icon-arrow-bottom
                = fa_icon 'chevron-down', class: 'icon'
          .sell-form-box__group
            %label.sell-form-box__group--label
              発送元の地域
              %span.require-input  必須
            .sell-form-box__group__select-wrap
              = f.select :prefecture, [["---", ""], ["北海道"],["青森県"], ["岩手県"],["宮城県"],["秋田県"],["山形県"],["福島県"],["茨城県"],["栃木県"],["群馬県"],["埼玉県"],["千葉県"],["東京都"],["神奈川県"],["新潟県"],["富山県"],["石川県"],["福井県"],["山梨県"],["長野県"],["岐阜県"],["静岡県"],["愛知県"],["三重県"],["滋賀県"],["京都府"],["大阪府"],["兵庫県"],["奈良県"],["和歌山県"],["鳥取県"],["島根県"],["岡山県"],["広島県"],["山口県"],["徳島県"],["香川県"],["愛媛県"],["高知県"],["福岡県"],["佐賀県"],["長崎県"],["熊本県"],["大分県"],["宮崎県"],["鹿児島県"],["沖縄県"],["未定"]], {}, {class: "select-default"}
              %i.icon-arrow-bottom
                = fa_icon 'chevron-down', class: 'icon'
          .sell-form-box__group
            %label.sell-form-box__group--label
              発送までの日数
              %span.require-input  必須
            .sell-form-box__group__select-wrap
              = f.select :delivery_days, [["---", ""], ["１〜２日で発送"], ["２〜３日で発送"], ["４〜７日で発送"]], {}, {class: "select-default"}
              %i.icon-arrow-bottom
                = fa_icon 'chevron-down', class: 'icon'
      .sell-form__content.sell-content
        %h3.sell-form__content--head
          販売価格(300〜9,999,999)
          .sell-form__content--question  ？
        .sell-form__content__sell-form-box
          %ul.sell-form-box__list
            %li.sell-form-box__list__price
              .sell-form-box__list__price__div
                %label.sell-form-box__list__price__div--left
                  価格
                  %span.require-input  必須
                .sell-form-box__list__price__div--right
                  .sell-form-box__list__price__div--right--p  ￥　
                  .sell-form-box__list__price__div__input
                    = f.text_field :price, type: "number", min: "1", max: "9999999", id: "input-price", class: "sell-form-box__list__price__div__input input-default", placeholder: "例）300", value: ""
            %li.sell-form-box__list__price__1
              .sell-form-box__list__price__1--left  販売手数料 （10%）
              #price-fee.sell-form-box__list__price__1--right
            %li.sell-form-box__list__price__2
              .sell-form-box__list__price__2--left  販売利益
              #price-income.sell-form-box__list__price__2--right
      
      .sell-form__modal{role: "dialog", tabindex: "-1"}
        .sell-form__modal__modal-inner
      .sell-form__sell-btn-box.sell-content
        .sell-form__sell-btn-box__div
          %p
            %span.pointer 禁止されている出品
            %span 、
            %span.pointer 行為
            %span を必ずご確認ください。
          %p
            %span  またブランド品でシリアルナンバー等がある場合はご記載ください。
            %span.pointer  偽ブランドの販売
            %span  は犯罪であり処罰される可能性があります。
          %p
            %span  また、出品をもちまして
            %span.pointer  加盟店規約
            %span  に同意したことになります。
        = f.submit "出品する", class: "sell-form__sell-btn-box__btn-red"
        = button_to "もどる", root_path, {method: :get, class: "sell-form__sell-btn-box__btn-gray"}
    .sell-container__overlay

= render partial: './shared/new-footer'
