= render partial: "shared/topheader"
%nav.karinav
  %ul
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
        %span.navmerkari{:itemprop => "title"} メルカリ  ＞
      %i.icon-arrow-right
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %span.navsyousai{:itemprop => "title"} 
        = @item.name
.owaku
  .haku
  %section.item
    %h1.item__name
      = @item.name
    .item__main
      .item__main__fotos
        .item__main__fotos__ue
          %ul.slider
            %li= image_tag @item.image.url, :size =>'300x300'
            %li= image_tag "mersample.jpg", :size =>'300x300'
            %li= image_tag "mersample.jpg", :size =>'300x300'
            %li= image_tag "mersample.jpg", :size =>'300x300'
            %li= image_tag "mersample.jpg", :size =>'300x300'
        .item__main__fotos__shita
          %ul.thumb
            %li= image_tag "mersample.jpg", :size =>'60x60'
            %li= image_tag "mersample.jpg", :size =>'60x60'
            %li= image_tag "mersample.jpg", :size =>'60x60'
            %li= image_tag "mersample.jpg", :size =>'60x60'
            %li= image_tag "mersample.jpg", :size =>'60x60'
      %table.item__main__detail
        %tr
          %th 出品者
          %td
            = link_to do
              = @item.user.nickname
            .item__main__detail__ratings
              .item__main__detail__ratings__user
                %i.fa.fa-smile-o.fa-lg{:style => "color:red;"}
                %span 2249
              .item__main__detail__ratings__user
                %i.fa.fa-meh-o.fa-lg{:style => "color:orange;"}
                %span 7
              .item__main__detail__ratings__user
                %i.fa.fa-frown-o.fa-lg{:style => "color:blue;"}
                %span 0
        %tr
          %th カテゴリー
          %td
            %a{:href => "https://www.mercari.com/jp/category/3/"}
              %div ベビー・キッズ
            %a{:href => "https://www.mercari.com/jp/category/44/"}
              .item-detail-table-sub-category
                %i.icon-arrow-right
                ベビー服(女の子用)  ~95cm
            %a{:href => "https://www.mercari.com/jp/category/431/"}
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                トップス
        %tr
          %th ブランド
          %td
            = link_to do
              %div
                = @item.brand
        %tr
          %th 商品のサイズ
          %td
            = @item.size
        %tr
          %th 商品の状態
          %td
            = @item.condition
        %tr
          %th 配送料の負担
          %td
            = @item.delivery_fee
        %tr
          %th 配送の方法
          %td
            = @item.delivery_method
        %tr
          %th 配送元地域
          %td
            = link_to do
              = @item.prefecture
        %tr
          %th 発送日の目安
          %td
            = @item.delivery_days
    .item__pricebox
      %span.item__pricebox__price 
        ¥
        = @item.price 
      %span.item__pricebox__tax (税込)
      %span.item__pricebox__shipping 送料込み
    .item__btn
      - if current_user.present?
        - if @item.user_id == current_user.id
          =link_to "編集画面に進む", edit_item_path(@item) ,   class: "btn-square-pop"
        - else
          =link_to "購入画面に進む",items_buy_confirmation_path,   class: "btn-square-pop"
      - else
        =link_to "購入画面に進む", new_user_session_path,   class: "btn-square-pop"
    .item__description
      %p.item__description__inner
        = @item.discription
    .item__buttons
      .item__buttons__left
        %button.item__buttons__left__nice{:type => "button"}
          %i.fa.fa-heart-o.fa-lg
          %span  いいね! 
          %span.fade-in-down{"data-num" => "like"} 0
        %button.item__buttons__left__flag{:type => "button"}
          %i.fa.fa-flag-o.fa-lg
          %span  不適切な商品の報告 
      .item__buttons__right
        %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
          %i.fa.fa-lock
          %span あんしん・あんぜんへの取り組み
  .item2
    .item2__message
      .item2__message__box
        %form.item2__message__box__form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
          %p.item2__message__box__form__caution
            相手のことを考え丁寧なコメントを心がけましょう。
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.item2__message__box__form__main{:name => "body", :style => "color:gray;", :type => "text", :value => ""}
          %button.item2__message__box__form__btn{:type => "submit"}
            %span コメントする
  %ul.navitem
    %li.navitem__pre
      = link_to do
        %i.icon-arrow-left
        ＜ 金麦 あいあい皿2019 シール120点
    %li.navitem__next
      = link_to do
        【新品】マイメロディ＆ピアノちゃん クッキー型2個セット ＞
        %i.icon-arrow-right
  .snsbox
    %ul.snsbox__contents
      %li.snsbox__contents__icons
        %a.snsbox__contents__icons__icon{"data-window-name" => "facebook_window", :href => "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm28099348410%2F", :target => "_blank"}
          %i.fa.fa-facebook-square.fa-4x{:style => "color:#3B5998"}
      %li.snsbox__contents__icons
        %a.snsbox__contents__icons__icon{"data-window-name" => "twitter_window", :href => "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm28099348410%2F&text=%E6%96%B0%E5%93%81%20%E3%82%BF%E3%82%B0%E4%BB%98%E3%81%8D%20babyG%E2%80%A6%20%28%C2%A5%202%2C290%29%20https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm28099348410%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", :target => "_blank"}
          %i.fa.fa-twitter-square.fa-4x
      %li.snsbox__contents__icons
        %a.snsbox__contents__icons__icon{"data-window-name" => "pinterest_window", :href => "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm28099348410%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm28099348410_1.jpg%3F1558742410&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%E6%96%B0%E5%93%81%20%E3%82%BF%E3%82%B0%E4%BB%98%E3%81%8D%20babyGAP%20%E3%83%99%E3%83%93%E3%83%BC%E3%82%AE%E3%83%A3%E3%83%83%E3%83%97%20%E8%A5%9F%E4%BB%98%E3%81%8D%20%E9%95%B7%E8%A2%96%20%E3%82%AB%E3%83%83%E3%83%88%E3%82%BD%E3%83%BC%2080%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", :target => "_blank"}
          %i.fa.fa-pinterest-square.fa-4x{:style => "color:#CC3333"}
  .bottomitems
    %section.bottomitems__users
      %h2.bottomitems__users__title
        = link_to do
          = @item.user.nickname 
          さんのその他の出品
      .bottomitems__users__contents
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__users__contents__content
          %a.bottomitems__users__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__users__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__users__contents__content__body
              %h3.bottomitems__users__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__users__contents__content__body__num
                .bottomitems__users__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__users__contents__content__body__tax
                (税込)
    %section.bottomitems__sonota
      %h2.bottomitems__sonota__title
        %a{:href => "https://www.mercari.com/jp/u/414242538/"}
          ベビーギャップのトップス　その他の商品
      .bottomitems__sonota__contents
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)
        .haku2
        %section.bottomitems__sonota__contents__content
          %a.bottomitems__sonota__contents__content__link{:href => "https://item.mercari.com/jp/m99673450604/"}
            %figure.bottomitems__sonota__contents__content__photo
              = image_tag "m99673450604_1.jpg",:size =>'220x220'
            .bottomitems__sonota__contents__content__body
              %h3.bottomitems__sonota__contents__content__body__name
                新品 おさるのジョージ ぬいぐるみ ショルダー ポーチ ジョージ
              .bottomitems__sonota__contents__content__body__num
                .bottomitems__sonota__contents__content__body__num__price
                  ¥ 2,790           &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;♡３
              %p.bottomitems__sonota__contents__content__body__tax
                (税込)

= render partial: "shared/topfooter"
        