%body
  .default-container
    %header.top-page-pc-header
      .top-page-pc-header__inner
        .top-page-pc-header__inner__top
          %h1.top-page-pc-header__inner__top__logo
            = link_to image_tag('top-header-logo.svg', class: "header-logo" ), root_path
          .header-search-form
            %input{class: "header-search-form__input", placeholder: "何かお探しですか？"}
              = link_to root_path, class:"header-search-button"  do
                .header-button-wrapper
                  = fa_icon 'search 2x', class: "search"
        .top-page-header-icon-lists
          .top-icon-list-left
            %ul.header-category-wrapper
              %li.header-icons
                %h2
                  = link_to root_path class:"pc-header-nav-rootlist-parent" do
                    = fa_icon("list-ul", class: "header-left-icon-logo")
                    %span.header-bold カテゴリーから探す
              %li.header-icons
                %h2
                  = link_to destroy_user_session_path, method: :delete, class:"pc-header-nav-root list-parent" do
                    = fa_icon("tag", class: "header-left-icon-logo")
                    %span.header-bold ブランドから探す
          .top-page-list-right
            -if user_signed_in?
              %ul.header-user-nav
                %li.header-info
                  = link_to root_path class: "header-info-link" do
                    = fa_icon("bell-o ")
                    %span.header-user-nav-text お知らせ
                %li.header-to-do
                  = link_to root_path class: "to_do-link" do
                    = fa_icon("check")
                    %span.header-user-nav-text やることリスト
                %li.header-mypage
                  = link_to users_mypage_path,method: :get, class: "header-my-page-link" do
                    = image_tag "mypage-image.png", class: "header-mypage-icon-image"
                    %span.header-user-nav-text-mypage マイページ
            -else
              %ul.header-login-nav
                %li.header-login-nav__login-button
                  = link_to "ログイン",   new_user_session_path, class: "header-login-nav__login-button__text"
                %li.header-login-nav__registration-button
                  = link_to "新規会員登録", users_sign_up_new_path, class: "header-login-nav__registration-button__text"

    .content-footer
      %section.content-footer__slide-box
        = image_tag "mercaricamp.png", class: "content-footer__slide-box__img"
      %section.pickup-container
        %h2.pickup-container__head
          ピックアップカテゴリー
        %section.item-box-container
          = link_to  new_user_registration_path, method: :delete  do
            %h3.item-box-container__text-center レディース新着アイテム
          .item-box-content
            - @items.each do |item|
              %section.item-box
                = link_to items_show_path  do
                  %figure.item-box__content-photo
                    = image_tag item.image, class: :"item-box__content-photo__img"
                  .item-box__content-body
                    %h3.item-box__content-body__item-name 
                      = item.name
                    .item-box__content-body__num
                      .item-box__content-body__num__price
                        %p.item-box__content-body__num__price__text 
                          = "¥#{item.price}"
                      %div
                        %p.item-box__content-body__tax (税込)
          = link_to root_path do
            .item-box-content-view
              %p.item-box-content-view-all
                全ての商品を見る
                %section.item-box-container

          = link_to root_path do
            %h3.item-box-container__text-center メンズ 新着アイテム
          .item-box-content
            - @items.each do |item|
              %section.item-box
                = link_to items_show_path  do
                  %figure.item-box__content-photo
                    = image_tag item.image, class: :"item-box__content-photo__img"
                  .item-box__content-body
                    %h3.item-box__content-body__item-name 
                      = item.name
                    .item-box__content-body__num
                      .item-box__content-body__num__price
                        %p.item-box__content-body__num__price__text 
                          = "¥#{item.price}"
                      %div
                        %p.item-box__content-body__tax (税込)
          = link_to root_path do
            .item-box-content-view
              %p.item-box-content-view-all
                全ての商品を見る
                %section.item-box-container

          = link_to root_path do
            %h3.item-box-container__text-center ベビー・キッズ 新着アイテム
          .item-box-content
            - @items.each do |item|
              %section.item-box
                = link_to items_show_path  do
                  %figure.item-box__content-photo
                    = image_tag item.image, class: :"item-box__content-photo__img"
                  .item-box__content-body
                    %h3.item-box__content-body__item-name 
                      = item.name
                    .item-box__content-body__num
                      .item-box__content-body__num__price
                        %p.item-box__content-body__num__price__text 
                          = "¥#{item.price}"
                      %div
                        %p.item-box__content-body__tax (税込)
          = link_to root_path do
            .item-box-content-view
              %p.item-box-content-view-all
                全ての商品を見る
                %section.item-box-container

        %section.item-box-container
          = link_to root_path do
            %h3.item-box-container__text-center コスメ・香水・美容 新着アイテム
          .item-box-content
            - @items.each do |item|
              %section.item-box
                = link_to items_show_path  do
                  %figure.item-box__content-photo
                    = image_tag item.image, class: :"item-box__content-photo__img"
                  .item-box__content-body
                    %h3.item-box__content-body__item-name 
                      = item.name
                    .item-box__content-body__num
                      .item-box__content-body__num__price
                        %p.item-box__content-body__num__price__text 
                          = "¥#{item.price}"
                      %div
                        %p.item-box__content-body__tax (税込)
          = link_to root_path do
            .item-box-content-view
              %p.item-box-content-view-all
                全ての商品を見る
                %section.item-box-container

            
        %h2.pickup-container__head
          ピックアップブランド
        %section.item-box-container
          = link_to root_path do
            %h3.item-box-container__text-center シャネル 新着アイテム
          .item-box-content
            - @items.each do |item|
              %section.item-box
                = link_to items_show_path  do
                  %figure.item-box__content-photo
                    = image_tag item.image, class: :"item-box__content-photo__img"
                  .item-box__content-body
                    %h3.item-box__content-body__item-name 
                      = item.name
                    .item-box__content-body__num
                      .item-box__content-body__num__price
                        %p.item-box__content-body__num__price__text 
                          = "¥#{item.price}"
                      %div
                        %p.item-box__content-body__tax (税込)
          = link_to root_path do
            .item-box-content-view
              %p.item-box-content-view-all
                全ての商品を見る
                %section.item-box-container

      .app-banner
        = image_tag "banar-image.png", class: "app-banar-img"
      %footer.footer-top-page
        .footer-box
          .footer-cell
            %h2.footer-cell__head メルカリについて
            %ul
              %li.footer-cell__footer-top-text-normal 会社概要 (運営会社)
              %li.footer-cell__normal 採用情報
              %li.footer-cell__normal プレリリース
              %li.footer-cell__normal 公式ブログ
              %li.footer-cell__normal メルカリロゴ利用ガイドライン
              %li.footer-cell__sns-link
                = fa_icon 'twitter', class: "twitter-logo"
              %li.footer-cell__sns-link
                = fa_icon 'facebook-square', class: "twitter-logo"
          .footer-cell
            %h2.footer-cell__head ヘルプ＆ガイド
            %ul
              %li.footer-cell__footer-top-text-normal メルカリガイド
              %li.footer-cell__normal 楽々メルカリ便
              %li.footer-cell__normal ゆうゆうメルカリ便
              %li.footer-cell__normal 大型メルカリ便
              %li.footer-cell__normal 車体取引ガイド
              %li.footer-cell__normal メルカリあんしん・あんぜん宣言
              %li.footer-cell__normal 偽ブランド品撲滅への取り組み
              %li.footer-cell__normal メルカリボックス
          .footer-cell-full-width
            %h2.footer-cell-full-width__head プライバシーと利用規約
            .footer-cell-full-width__cell-wrapper
              .footer-cell-full-width__cell-wrapper__cell-left
                %ul
                  %li.footer-cell-full-width__cell-wrapper__cell-left__top-text-normal プライバシーポリシー
                  %li.footer-cell-full-width__cell-wrapper__cell-left__normal メルカリ利用規約
                  %li.footer-cell-full-width__cell-wrapper__cell-left__normal あんしんスマホサポート制度に関する利用規約
                  %li.footer-cell-full-width__cell-wrapper__cell-left__normal コンプライアンスポリシー
              .footer-cell-full-width__cell-wrapper__cell-right
                %ul
                  %li.footer-cell-full-width__cell-wrapper__cell-right__top-text-normal 個人データの安全管理に係る基本方針
                  %li.footer-cell-full-width__cell-wrapper__cell-right__normal 特定商取引に関する表記
                  %li.footer-cell-full-width__cell-wrapper__cell-right__normal 資金決済法に基づく表示
                  %li.footer-cell-full-width__cell-wrapper__cell-right__normal 法令遵守と犯罪抑止のために
                  %li.footer-cell-full-width__cell-wrapper__cell-right__normal 返品・返金ポリシー
          .fotter-cell-lang
            %h2.footer-cell__head 国
            %ul
              %li.footer-head-jp 日本
              %li.footer-head-us United Status
        .footer-bottom
          = link_to root_path class:"footer-logo-link" do
            - image_tag "logo-white.svg", class: "footer-logo-link-image"
          %span.footer-copyrifght © 2019 Mercari
      = link_to new_item_path , class: "footer-sell-btn" do
        .footer-sell-btn__text 出品
        = fa_icon "camera", class: "camera-icon"
